//-------------------- Common Variables --------------------//
$text_color  : #333;
$color_white : #fff;
$color_offset: #f1f1f1;


//-------------------- Admin Variables --------------------//
$admin_shortcode_bg : #f1f1f1;
$field_select_color : #007cba;
$field_select_color_hover: #0071a1;


//-------------------- Frontend Variables --------------------//

$cx-xlg-screen:					1200px !default;
$cx-lg-screen:					1025px !default;
$cx-md-screen: 					992px !default;
$cx-sm-screen:					768px !default;
$cx-vsm-screen:					576px !default;

.tooltip {
	position: relative;
	display: inline-block;
	margin: 10px 0;
	#copy_shortcode,
	.copy_shortcode {
		padding: 0 5px;
		background: $admin_shortcode_bg;
		color: $text_color;
		text-align: center;
		min-width: 250px;
	}
	.copy-button{
		position: relative;
		cursor: pointer;
	}
	.tooltiptext {
		visibility: hidden;
		width: 140px;
		background-color: $text_color;
		color: $color-white;
		text-align: center;
		border-radius: 6px;
		padding: 5px;
		position: absolute;
		z-index: 1;
		bottom: 150%;
		left: 50%;
		margin-left: -75px;
		opacity: 0;
		transition: opacity 0.3s;
	}
	.tooltiptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: $text_color transparent transparent transparent;
	}
	&:hover{
		.tooltiptext {
			visibility: visible;
			opacity: 1;
		}
	}
}

// Tab css 

div#carbon_fields_container_slider_settings{
	li.cf-container__tabs-item {
		padding: 15px 30px;
		margin: 0;
		margin-left: -1px;
		font-size: 18px;
		letter-spacing: 0.5px;
		font-weight: 500;
	}
	.cf-container__tabs {
		padding: 0;
		margin-top: -1px;
	}
	h1.setting-not-suport {
		padding: 40px;
		min-height: 100px;
	}
	.postbox-header h2{
		padding: 15px 30px;
		font-size: 20px;
	}
	.cf-field__head {
		border-bottom: 1px solid #ddd;
		margin-bottom: 20px;
		.cf-field__label {
			font-size: 20px;
			padding: 15px 0px;
		}
	}
	.cf-container .cf-field{
		padding: 0;
	}
	.cf-field,
	.cf-field__head,
	.cf-field__body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.cf-field__body{
		padding-bottom: 20px;
	}
	.cf-field__help {
		margin-bottom: 20px;
		padding-left: 20px;
		margin-top: 0;
	}
	.cf-radio-image .cf-radio__label img,
	.cf-radio-image .cf-radio__label {
		width: 100%;
	}
	.cf-complex__tabs .cf-complex__inserter-button,
	.cf-complex__tabs-item {
		padding: 15px 20px;
	}
	.cf-complex__tabs .cf-complex__inserter {
		height: auto;
	}
	.cf-field__body {
		select,
		input:not([type=checkbox]):not([type=radio]){
			height: 45px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}